body{
    background-color: black;
}
h1{
  color:red;
  position: fixed;
  top:-15;
  width: 100%;
  text-align:center;
  background-color: yellow;
}
p{
    font-size:50px;
    padding: 50px;
    color:white;
    text-align: center;
}
.slideb{
  margin: auto;
  width: 15%;
  padding:10px;
}
.mySlides{
  margin:auto;
  width:700px;
  height:500px;
}
.b1{
  background-color: blue;
  font-size:16px;
  padding: 5px 20px;
  border-radius: 12px;
  color: white;
}
a{
  color:white;
}